html, body {
    color: #9cb0cc;
    background-color: #292d33;
    margin: 0;
}

.caret {
    background-color: #9cb0cc;
    color: #292d33;
}

ul.tape li {
    border-top-color: rgb(94, 99, 102);
    border-right-color: rgb(94, 99, 102);
    border-left-color: rgb(94, 99, 102);
    border-bottom-color: rgb(94, 99, 102);
    color: rgb(171, 163, 149);

    list-style-type: none;
    border: 1px solid #aeaeae;
    float: bottom; 
    width: 30px;
    height: 23px;
    text-align: center;
    padding-top: 7px;
    color: gray;
}

ul.tape {
    margin-top: 60px;
    margin-left: 110px;
    padding: 0;
    height: 32px;
}

.pointer{
    position: absolute;
    top: 66px;
    right: 150px;
    margin-top: 0px;
}

#reset{
    position: absolute;
    top: 25px;
    left: 103px;
    background-color: #292d33;
    color:#9cb0cc;
    border:1px solid #9cb0cc;
    border-radius: 3px;
}

.delay{
    margin: 20px;
}
#delay{
    background-color: #292d33;
    color:#9cb0cc;
    border:1px solid #9cb0cc;
    border-radius: 3px;
}


#buttondiv {
    justify-content: center;
    background-color: #333841;
    padding: 5px;
    padding-top: 15px;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-start;
}

#textdiv {
    margin-left: 1%;;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
}

textarea {
    background-color: #333841;
    color: #FFF8E7; /*Color of the universe*/
    border: #292d33;
    resize: none;
}

#numberzone {
    overflow-y: hidden;
    text-align: right;
    vertical-align: top;
    border-bottom-left-radius: 20px;
    color: #9cb0cc;
    width: 90%;
}

#textzone {
    border-top-right-radius: 20px;
    width: 95%;

}

#consolezone {
    margin: 20px;
    width: 85%;
}

/* Console Bas*/
.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #292d33;
    overflow-x: hidden;
    transition: 0.5s;
    border-top: 1px solid grey;
}
.sidenav .closebtn:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 20px;
}

.drawer {
    z-index: 1;
    border-top: 1px solid grey;
    background-color: #333841;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 30px;

}

/* Console Droite */
.sidenavd {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    background-color: #292d33;
    overflow-x: hidden;
    transition: 0.5s;
    border-left: 1px solid grey;
  }
  
  .sidenavd .closebtn:hover {
    color: #f1f1f1;
  }
  
  .sidenavd .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    margin-right: 25px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .drawerd{
      z-index: 0;
      border-left: 1px solid grey;
      background-color: #333841;
      cursor: pointer;
      padding: 15px;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
      height: 95%;
      font-size: 30px;
  }